# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Mac related
macos/Flutter/GeneratedPluginRegistrant.swift

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.metadata
pubspec.lock

# Ignore on project
/lib/generated/
*.g.dart
*.freezed.dart
/lib/gen/
coverage/lcov.info
/ios/build
/resources/
code-quality-report.json
metrics/
AuthKey.p8
fastlane/dev_app_store_connect_token.json
fastlane/prod_app_store_connect_token.json
android/google_credential_ci.json
fastlane/simulator-upload-credential.json

.firebase
Gemfile.lock
fastlane/report.xml
*.stackdump
fastlane/.env.
*.cer
*.mobileprovision
node_modules
*.jks

# FVM Version Cache
.fvm/*
!.fvm/